# Credenciales para integración con Green API (WhatsApp)
GREEN_API_ID=
GREEN_API_TOKEN=
WHATSAPP_CHAT_ID=

# Credenciales opcionales
# ML_PORTAL_COOKIE=
# DEALEE_API_KEY=
# GEMINI_API_KEY=
# TELEGRAM_BOT_TOKEN=
# TELEGRAM_CHAT_ID=
